tomcat/apache-tomcat-8.0.36/webapps/EparkingServiceRepository/WEB-INF/classes/AccountService/AccountServiceBase.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://eparking.pl/accountservice" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AccountServiceBase"
	targetNamespace="http://eparking.pl/accountservice">
	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:import namespace="http://eparking.pl/accountservice"
				schemaLocation="AccountServiceBase.xsd">
			</xsd:import>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="addAccountRequest">
		<wsdl:part name="parameters" element="tns:addAccount"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="addAccountResponse">
		<wsdl:part name="parameters" element="tns:addAccountResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="registerAccountRequest">
		<wsdl:part name="parameters" element="tns:registerAccount"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="registerAccountResponse">
		<wsdl:part name="parameters" element="tns:registerAccountResponse">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="getAccountRequest">
		<wsdl:part name="parameters" element="tns:getAccount"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getAccountResponse">
		<wsdl:part name="parameters" element="tns:getAccountResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="findAccountRequest">
		<wsdl:part name="parameters" element="tns:findAccount"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="findAccountResponse">
		<wsdl:part name="parameters" element="tns:findAccountResponse">
		</wsdl:part>
	</wsdl:message>
	<wsdl:portType name="AccountServiceBase">
		<wsdl:operation name="addAccount">
			<wsdl:input message="tns:addAccountRequest"></wsdl:input>
			<wsdl:output message="tns:addAccountResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="registerAccount">
			<wsdl:input message="tns:registerAccountRequest"></wsdl:input>
			<wsdl:output message="tns:registerAccountResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getAccount">
			<wsdl:input message="tns:getAccountRequest"></wsdl:input>
			<wsdl:output message="tns:getAccountResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="findAccount">
			<wsdl:input message="tns:findAccountRequest"></wsdl:input>
			<wsdl:output message="tns:findAccountResponse"></wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="AccountServiceBaseSOAP" type="tns:AccountServiceBase">

		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="addAccount">

			<soap:operation soapAction="http://eparking.pl/accountservice/addAccount" />
			<wsdl:input>

				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>

				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="registerAccount">

			<soap:operation soapAction="http://eparking.pl/accountservice/registerAccount" />
			<wsdl:input>

				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>

				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getAccount">

			<soap:operation soapAction="http://eparking.pl/accountservice/getAccount" />
			<wsdl:input>

				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>

				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="findAccount">
			<soap:operation soapAction="http://eparking.pl/accountservice/findAccount" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="AccountServiceBase">
		<wsdl:port binding="tns:AccountServiceBaseSOAP" name="AccountServiceBaseSOAP">
			<soap:address location="http://eparking.pl/accountservice" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>